* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(0, 0, 0);
}


.grid-container {
    display: grid;
    grid-template-columns:repeat(12, 1fr) ;
    grid-template-rows: 200px 80px 350px 900px 200px;
    height: 160vh;
}

.grid-container .grid-logo {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    grid-row: 1/1 ;
    grid-column:3/4;
}

.grid-logo img {
    height: 150px;
}

.grid-container .grid-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-row: 1/1 ;
    grid-column: 4/7;
    padding-left: 40px;
}

.grid-search input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
}

.grid-container .grid-usuario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 9/11;
}

.grid-usuario img {
    height: 50px;
    padding-left: 50px;
}

.grid-container .grid-menu {
    display: flex;
    justify-content:space-around;
    align-items: center;
    grid-row:2/2 ;
    grid-column:4/9 ;
    color: #5c16c5;
    font-size: 20px;
}
.grid-container .grid-bannerp {
    grid-column:3/11;
    grid-row: 3/3;
    overflow: hidden;
}
.grid-container .grid-bannerp img {
    height: 100%;
}

.grid-container .grid-acordion {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column:3/4;
    grid-row: 4/4;
}

.grid-container .grid-procesadores {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-column: 5/11;
    grid-row: 4/4;
    
}


.grid-container .grid-preguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 5/5 ;
    grid-column: 2/4;
    justify-content: space-around;
}

.grid-container .grid-sub {
    grid-column: 6/9;
    grid-row: 5/5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.grid-container .grid-sub input {
    height: 50px;
    width: 300px;
    
}

.grid-container .grid-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    grid-row: 5/5;
    grid-column: 10/13 ;
}
.grid-nosotros img {
    height: 50px;
}

.grid-preguntas ul {
    color: #5c16c5;
}

.grid-sub {
    color: #5c16c5;
}




/*-----------------------------*/

@media (max-width:600px) {
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 200px 80px 200px 400px 200px;}

    .grid-container .grid-logo {
        grid-column: 1/4;
    }
    .grid-container .grid-logo img {
        height: 80px;
    }
    .grid-container .grid-search {
        grid-column: 4/7;
        padding-left: 0;
    }
    .grid-container .grid-search input {
        height: 33px;
        width: 159px ;
    }
    .grid-container .grid-usuario {
        grid-column: 8/11;
        display: flex;
        justify-content: space-evenly;
    }
    .grid-container .grid-usuario img {
        padding: 0;
        height: 30px;
    }
    .grid-usuario img {
        height: 40px;
    }
    .grid-container .grid-search {
        grid-column: 4/7;
    }
    .grid-container .grid-menu {
        grid-column: 2/11;
        text-align: center;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
    }

    .grid-container .grid-bannerp {
        grid-column: 1/12;
    }

    .grid-container .grid-acordion {
        grid-column: 1/3;
    }

    .grid-container .grid-procesadores {
        grid-column: 4/12;
        grid-row: 4/4;
    }
    .grid-container .grid-procesadores img {
        height: 60px;
        
    }














    .grid-container .grid-preguntas {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 5/5;
        grid-column: 1/4;
        justify-content: space-around;}

        .grid-preguntas ul {
            font-size: 10px;
        }
        .grid-preguntas h2 {
            font-size: 20px;
        }



        .grid-container .grid-sub {
            grid-column: 5/10;
            grid-row: 5/5;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

    .grid-container .grid-sub input {
        height: 35px;
        width: 230px;
    }
    .grid-container .grid-nosotros {
        display: flex;
        justify-content: space-around;
        grid-row: 5/5;
        grid-column:11;
        flex-direction: column;
        
}
.grid-container .grid-nosotros img {
    height: 40px;
}

}















